html {
    width: 100%; height: 100%; margin: 0;

    font-family: 'Open Sans', sans-serif;
  /*   -webkit-font-smoothing: antialiased; only works on mac-os */
}

body {
    margin: 0px;
    background-color: #F4F6F6;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;

}

.header   { grid-area: header;    background-color: #7DAB3E;}
    .nev    {grid-area:nev}
    .logo   { grid-area: logo; }
.footer   { grid-area: footer; }
.sidebar  { grid-area: sidebar;        background-color:#F76CA1; }
    .menu1  { grid-area: menu1; }
    .menu2  { grid-area: menu2; }
    .menu3  { grid-area: menu3; }
.content  { grid-area: content;background-color: #ffffff; }
    .card1  { grid-area: card1; }
    .card2  { grid-area: card2; }
    .card3  { grid-area: card3; }   
	/* header */

.nev >ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;


}
.nev ul >li {
  float: left;

}
.nev ul >li >a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
.nev ul >li >a :hover  {
  background-color: rgba(127, 119, 119, 0);
}
.logo>a>img{

  width: 50px;
  height: 50px;
  margin-left: 40%;
}


	/* header end */




	/* footer */
.footer {
    padding: 20px;
    background-color: #7DAB3E;
    height: auto;

    text-align: center;
    font-size: 100%;
    color: #fff;
}
.footer-distributed {
	/* background-color: #292c2f; */
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	transition: ease .25s;
  }

  .footer-distributed .footer-links a:before {
	content: "·";
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
	content: none;
  }
  
  .footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
  background-color: #7DAB3E;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  

/* end footer */

/* sidebar */

.button {
  display: block;
  width: 100px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #a78002;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #f0c127 ;
  border-radius: 5px;
}
.button:hover {
  background-color: #dba800;
 }


 /* end sidebar */
       
/* MOBILE VIEW */
@media screen and (max-width: 458px) {
  .wrapper {
      display: grid;
      grid-gap: 1em; /* Spacing among "header", "footer", "sidebar", "content" */
      grid-template-areas:
          "header"
          "sidebar"
          "content"
          "footer";
      max-width: 458px;
  }
}

/* DESKTOP-TABLET VIEW */
@media screen and (min-width: 459px) {
  .wrapper {
      display: grid;
      grid-gap: 0em; /* Spacing among "header", "footer", "sidebar", "content" */
      grid-template-columns: auto 42.5% 42.5%;
      grid-template-areas:
          "header     header      header"
          "sidebar    content     content"
          "footer     footer      footer";
      max-width: 100%;
  }
}



/* MOBILE VIEW */
@media screen and (max-width: 458px) {
  .header{
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-areas:
        "nev logo ";

     font-size: 100%;
    color: #fff;
}
  
    .sidebar {
        display: grid;
        grid-gap: 1em;
        grid-template-rows: auto 2% auto;
        grid-template-areas:
        
            "menu1 "
            "menu2"
            "menu3";
    
        padding: 20px;
        border-right : 1px solid  #E5E8E8;
        /*min-width: 125px;
        max-width: 125px;*/
    
        text-align: center;
        font-size: 100%;
        color: #fff;
    }

    .content {
        display: grid;
        grid-template-columns:repeat(3,auto) ;
        grid-gap: 1em;
        padding: 20px;    
        
    }

}

/* DESKTOP-TABLET VIEW */
@media screen and (min-width: 459px) {
  .header{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto 20%;
    grid-template-areas:
        "nev nev logo ";

    padding: 20px;


    text-align: center;
    font-size: 100%;
    color: #fff;
}


    .sidebar {
        display: grid;
        grid-gap: 1em;
        grid-template-rows: auto 2% auto;
        grid-template-areas:
            "menu1"
            "menu2"
            "menu3";
    
        align-items: center; /* VERTICALLY aligns all "grid-template-rows" */
        padding: 20px;
    
        text-align: center;
        font-size: 100%;
        color: #fff;

    }
/* game area */
    .content {
        display: grid;
/*         grid-template-columns: 12% 12% 12% 12% 12% 12%; */
        grid-template-columns:auto auto auto;
        grid-template-areas:
            "card1 card2 card3 "
          
            ;
            grid-gap: 2em;
            padding: 20px;     
            max-width: 100%;
            justify-content: center; 
    
    }
}


.card {

  padding: 10px;
  background-color: #86CDEA;
  border-radius: 5px;
  box-shadow: 0px 0px 30px -2px #fff420; 
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;

}

/* .card:active {
  /* Let’s also add a click effect. The :active pseudo class will be triggered every time the element gets
   clicked and will apply a .2s transition to its size:*/
/*   transform: scale(0.70);
  transition: transform .2s;
  } */
img{ 
  width: 100%;
  height:100% ;}


