html {
    width: 100%; height: 100%; margin: 0;

    font-family: 'Open Sans', sans-serif;
  /*   -webkit-font-smoothing: antialiased; only works on mac-os */
}

body {
    margin: 0px;
    background-color: #F4F6F6;
}

.header   { grid-area: header; }

.footer   { grid-area: footer; }
.sidebar  { grid-area: sidebar; }
    .menu1  { grid-area: menu1; }
    .menu2  { grid-area: menu2; }
    .menu3  { grid-area: menu3; }
.content  { grid-area: content; }
    .subject1       { grid-area: subject1; }
    .subject2       { grid-area: subject2; }
    .content1-left  { grid-area: content1-left; }
    .content1-right { grid-area: content1-right; }
    .content2-left  { grid-area: content2-left; }
    .content2-right { grid-area: content2-right; }
    .content3       { grid-area: content3; }





	/* header */
.header {
    display: grid;
    padding: 20px;
    color: #fff;
    background-color: #222222;
}
.header >ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.header  >ul >li {
  float: left;

}
.header  >ul >li >a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
.header  >ul >li >a :hover  {
  background-color: rgb(181, 147, 147);
}
	/* header end */




	/* footer */
.footer {
    padding: 20px;
    background-color: #a2a2a2;
	height: auto;

    text-align: center;
    font-size: 100%;
    color: #fff;
}
.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
	content: "·";
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
	content: none;
  }
  
  .footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  

/* end footer */

    
/* MOBILE VIEW */
@media screen and (max-width: 458px) {
  .wrapper {
      display: grid;
      grid-gap: 1em; /* Spacing among "header", "footer", "sidebar", "content" */
      grid-template-areas:
          "header"
          "sidebar"
          "content"
          "footer";
      max-width: 458px;
  }
}

/* DESKTOP-TABLET VIEW */
@media screen and (min-width: 459px) {
  .wrapper {
      display: grid;
      grid-gap: 0em; /* Spacing among "header", "footer", "sidebar", "content" */
      grid-template-columns: auto 42.5% 42.5%;
      grid-template-areas:
          "header     header      header"
          "sidebar    content     content"
          "footer     footer      footer";
      max-width: 100%;
  }
}



/* MOBILE VIEW */
@media screen and (max-width: 458px) {
    .sidebar {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: auto auto auto;
        grid-template-areas:
            "menu1  menu2  menu3";
    
        padding: 20px;
    
        background-color: #525252; /*#34495E;*/
        /*border-right : 1px solid  #E5E8E8;*/
    
        /*min-width: 125px;
        max-width: 125px;*/
    
        text-align: center;
        font-size: 100%;
        color: #fff;
    }

    .content {
        display: grid;
        grid-gap: 1em;
        grid-template-areas:
            "subject1"
            "subject2"
            "content1-left"
            "content1-right"
            "content2-left"
            "content2-right"
            "content3";
        
        max-width: 458px;
        justify-content: center;  /* HORIZONTALLY aligns all "grid-template-columns" */
        padding: 20px;
    
        background-color: #F3F3F3;
    }
}

/* DESKTOP-TABLET VIEW */
@media screen and (min-width: 459px) {
    .sidebar {
        display: grid;
        grid-gap: 1em;
        grid-template-rows: 40px 40px 40px;
        grid-template-areas:
            "menu1"
            "menu2"
            "menu3";
    
        align-items: center; /* VERTICALLY aligns all "grid-template-rows" */
        padding: 20px;
    
        text-align: center;
        font-size: 100%;
        color: #fff;

        background-color: #2b804ac7; 
    }

    .content {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 45% 45%;
        grid-template-areas:
            "subject1       subject1"
            "subject2       subject2"
            "content1-left  content1-right"
            "content2-left  content2-right"
            "content3       content3";
        
        max-width: 100%;
		height: 530px;
        justify-content: center;  /* HORIZONTALLY aligns all "grid-template-columns" */
        padding: 20px;
    
        background-color: #F3F3F3;
    }
}
    .content-inner {
        padding: 10px;

        text-align: center;
        font-size: 80%; 
        color: #444;

        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 5px -2px #777777; 
    }

